import os

# Copy this to a file called "config.py" in the same path.
settings = dict(
    server = 'irc.chat.twitch.tv',
    port = 6667,
    nickname = '', #The bots nickname
    token = 'oauth:', #Get it from https://twitchapps.com/tmi/
    channel = '#', #Channel username like '#moistcr1tikal'

    # 'keepup'  Keeping up with recent messages, some messages might be skipped.
    # 'queue'   Queuing up messages and says every message.
    # 'multi'   Say multiple messages simultaneously.
    MODE = 'multi',

    USER_IGNORE_PATH = 'userignore.txt', # Path to file with usernames to ignore.
    WORD_IGNORE_PATH = 'wordignore.txt', # Path to file with words to ignore.

    SILENCE_HOTKEY = 'ctrl+shift+a', # Hotkey for silence. More examples here: https://github.com/boppreh/keyboard

    # Groups that are enabled for TTS
    SUBSCRIBERS_ALLOWED = True,
    VIP_ALLOWED = True,
    TURBO_ALLOWED = False,
    MODERATOR_ALLOWED = True,
    BIT_DONATION_ALLOWED = 10,
    CHANNEL_POINT_REDEMPTION_ALLOWED = False,
    EVERYONE_ALLOWED = False,

    TMP_DIR = os.path.join(os.path.dirname(os.path.abspath(__file__)), 'tmp')
)
